{% extends ('base.html.twig') %}

{% block body %}

    {{ form_start(form, { 'method' : 'post', 'attr': {'novalidate': 'novalidate'}}) }}
    <h2 class="text-center mt-5">Add a new Player</h2>

    <div class="form-group">
        <div class="row mb-4">
            <div class="col-md-12 col-sm-12">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr' : {'class' : 'form-control'}}) }}
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12 col-sm-12">
                {{ form_label(form.team) }}
                {{ form_widget(form.team, {'attr' : {'class' : 'form-control'}}) }}
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12 col-sm-12">
                {{ form_label(form.year) }}
                {{ form_widget(form.year, {'attr' : {'class' : 'form-control'}}) }}
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12 col-sm-12">
                {{ form_label(form.nationality) }}
                {{ form_widget(form.nationality, {'attr' : {'class' : 'form-control'}}) }}
            </div>
        </div>
        <div class="row mb-4">
            <div class="col-md-12 col-sm-12">
                {{ form_label(form.role) }}
                {{ form_widget(form.role, {'attr' : {'class' : 'form-control'}}) }}
            </div>
        </div>
        <div>
            {{ form_label(form.save) }}
            {{ form_widget(form.save, {'attr' : {'class' : 'btn btn-primary'}}) }}
        </div>
    </div>


    {{ form_end(form) }}

{% endblock %}