{% extends ('base.html.twig') %}

{% block body %}

    <div class="row">
        <div class="col">
        </div>
        <div class="col-6" style="margin-top: 150px;">
            {{ form_start(form, { 'method' : 'post', 'attr': {'novalidate': 'novalidate'}}) }}
            <h2 class="text-center mt-5">Ajouter une nouvelle équipe</h2>

            <div class="form-group">
                <div class="row mb-4">
                    <div class="col-md-12 col-sm-12">
                        {{ form_label(form.name) }}
                        {{ form_widget(form.name, {'attr' : {'class' : 'form-control'}}) }}
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12 col-sm-12">
                        {{ form_label(form.year) }}
                        {{ form_widget(form.year, {'attr' : {'class' : 'form-control'}}) }}
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12 col-sm-12">
                        {{ form_label(form.stadium) }}
                        {{ form_widget(form.stadium, {'attr' : {'class' : 'form-control'}}) }}
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12 col-sm-12">
                        {{ form_label(form.number_of_titles) }}
                        {{ form_widget(form.number_of_titles, {'attr' : {'class' : 'form-control'}}) }}
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12 col-sm-12">
                        {{ form_label(form.logo) }}
                        {{ form_widget(form.logo, {'attr' : {'class' : 'form-control'}}) }}
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12 col-sm-12">
                        {{ form_label(form.points) }}
                        {{ form_widget(form.points, {'attr' : {'class' : 'form-control'}}) }}
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12 col-sm-12">
                        {{ form_label(form.win) }}
                        {{ form_widget(form.win, {'attr' : {'class' : 'form-control'}}) }}
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12 col-sm-12">
                        {{ form_label(form.loses) }}
                        {{ form_widget(form.loses, {'attr' : {'class' : 'form-control'}}) }}
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-12 col-sm-12">
                        {{ form_label(form.draws) }}
                        {{ form_widget(form.draws, {'attr' : {'class' : 'form-control'}}) }}
                    </div>
                </div>
                <div>
                    {{ form_label(form.save) }}
                    {{ form_widget(form.save, {'attr' : {'class' : 'btn btn-primary'}}) }}
                </div>
            </div>


            {{ form_end(form) }}
        </div>
        <div class="col">

        </div>
    </div>


{% endblock %}